<section id="Educacion " class="educacion">
  <div class="container text-left mt-5">
    <h3>Educación</h3>
    <div class="col-2">

      <button type="button" class="btn btn-secondary" routerLink="/nuevaeduc" *ngIf="isLogged">

        Agregar educacion
      </button>
    </div>
    <div class="row" *ngFor="let Educacion of educacion">
      <div class="col-3">
      </div>
      <div class="col-6 ">
        <h3>Institución: {{Educacion.nombreE}}</h3>
        <h4>Titulo: {{Educacion.descripcionE}} </h4>
        <!-- <h5>Fecha de Inicio: {{exp.Inicio}} Fecha Fin: {{exp.Fin}} </h5>  -->
      </div>
      <div class="col-3">
        <table class="table">
          <h6 *ngIf="isLogged">
            <button type="button" class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
              <i class="bi bi-pencil-square"></i>EDITAR
            </button>
          </h6>

          <td *ngIf="isLogged">
            <button type="button" class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-trash"></i>BORRAR
            </button>

          </td>
        </table>

      </div>

    </div>
  </div>
</section>